
body{
    /* background: linear-gradient(rgb(0 0 0),rgb(0 0 0 / 52%)),url('https://e1.pxfuel.com/desktop-wallpaper/377/185/desktop-wallpaper-clouds-ocean-artwork-thousand-sunny-one-piece-ship-one-piece-boat.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff; */
    background-image: url('https://tamilhd.fun/anime/assets/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#fff;
}
#search{
width: 100%;
height: 50px;
border: 1px solid #f76a6a;
border-radius: 10px 10px 0px 0px;
background: #e5e4e4;
color: #362f2f;
font-size: 20px;
padding-left: 10px;
margin: 1;
padding-bottom: 5px;
}
@media (max-width:480px)
{
    #search{
        width: 100% !important;
    }
}
.live-search-result{
max-height: 250px;
width: 100%;
background: #222;
border-radius: 20px;
overflow-y: auto;
}
::-webkit-scrollbar {
width: 8px;
height: 8px;
}

/* Track styles */
::-webkit-scrollbar-track {
background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
background-color: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background-color: #555;
}
.Tamilanime_poster{
    border: 5px solid #ffffff;
    border-radius: 12px 0px;
}